@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/Lato-Regular.ttf') format('truetype'); 
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'LatoBlack';
	src: url('../fonts/Lato-Black.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/Lato-Black.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/Lato-Black.ttf') format('truetype'); 
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* ------------------------ */

html, body {
	overflow: hidden;
}

body {
	font-family: Arial;
	height: 100%;
}

#CE {
	display: none;
	position: absolute !important;
	left: 50%;
	top: 50%;
}

#tools {
	font-family: 'Lato', Arial, sans-serif;
	font-size: 14px;
	float: left;
	width: 120px;
	height: 100%;
	background-color: #29313c;
	text-align: center;
	color: #fff;
	overflow: hidden;
	position: relative;
}

#tools .bold {
	font-family: 'LatoBlack';
}

#tools #menu-wrapper {
	padding-top: 30px;
}

#tools #menu-wrapper > ul {
	font-size: 13px;
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: left;
	margin-top: 30px;
}

#tools #menu-wrapper > ul li {
	color: #50647b;
	padding: 20px 0 20px 15px;
	width: auto;
	background: #1d222a;
	cursor: pointer;
}

#tools #menu-wrapper > ul li:not(#open) {
	display: none;
}


#tools #menu-wrapper > ul li i {
	margin-right: 5px;
}

#tools #menu-wrapper > ul li:hover {
	color: #fff;
	background: #39b396;
}

#tools #editor {
	width: 88px;
	height: 27px;
	margin: 20px auto 0;
	background-image: url('../img/switch.png');
	cursor: pointer;
	background-size: 100% 200%;
	background-position: 0 0;
}

#tools #editor.switch-on {
	background-position: 0px 27px;
}

#tools #background {
	position: absolute;
	width: 43px;
	height: 323px;
	background-image: url('../img/backnode.png');
	left: 50%;
	margin-left: -22px;
	bottom: 50px;
	-moz-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center bottom;
}

#iframe {
	float: left;
	width: 200px;
	height: 200px;
	border: 0px none;
}
